<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' href='style.css'>
<div class="block">
  <div class="h2">
   <strong> <%= @game.player_1.name %> vs. <%= @game.player_2.name %><br> </strong>

    <%= @game.player_1.name %>: <%= @game.player_1.hp %>HP<br>

    <%= @game.player_2.name %>: <%= @game.player_2.hp %>HP<br>

    <%= @game.current_turn.name %>'s turn
  </div>
  <br>
<form action="/attack" method="post">
  <input class="button" type="submit" value="Attack">
</form>
</div>
</body>
</html>
